.footer {
  display: flex;
  gap: 3rem;
  padding-bottom: 8rem;

  @include responsive(s) {
    flex-direction: column;
  }

  @include responsive(xs) {
    margin-top: 38rem;
    flex-direction: column;
  }

  .logo {
    flex: 1;
  }

  .list {
    flex: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;

    @include responsive(xs) {
      flex-direction: column;
      align-items: start;
      gap: 6.4rem;
    }

    .contact {
      @include type(b2, desktop);
      color: $dark;
    }

    .social {
      display: flex;
      gap: 2rem;

      svg:hover {
        transition: 0.3s ease;
        path {
          fill: $orange;
        }
      }
    }
  }
}
