.footer {
  display: flex;
  gap: 30px;
  padding-bottom: 80px;

  @include responsive(s) {
    flex-direction: column;
  }

  @include responsive(xs) {
    margin-top: 380px;
    flex-direction: column;
  }

  .logo {
    flex: 1;
  }

  .list {
    flex: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    @include responsive(xs) {
      flex-direction: column;
      align-items: start;
      gap: 64px;
    }

    .contact {
      @include type(b2, desktop);
      color: $dark;
    }

    .social {
      display: flex;
      gap: 20px;

      svg:hover {
        transition: 0.3s ease;
        path {
          fill: $orange;
        }
      }
    }
  }
}
