* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $white;
  overflow-x: hidden;

  &::before {
    content: "";
    display: block;
    background-image: url("../../assets/bg-main-desktop.svg");
    width: 191.3rem;
    height: 205.8rem;
    position: absolute;
    z-index: -1;
    top: -30rem;
    right: -18rem;

    @include responsive(m) {
      background-image: url("../../assets/bg-main-tablet.svg");
      width: 125.5rem;
      height: 108rem;
      top: -40rem;
      left: -40rem;
    }

    @include responsive(s) {
      background-image: url("../../assets/bg-main-tablet.svg");
      width: 125.5rem;
      height: 108rem;
      top: -40rem;
      left: -40rem;
    }

    @include responsive(xs) {
      background-image: url("../../assets/bg-main-mobile.svg");
      width: 55.4rem;
      height: 75.2rem;
      top: -20rem;
      right: 0rem;
    }
  }

  &::after {
    content: "";
    display: block;
    background-image: url("../../assets/bg-pattern-1.svg");
    width: 31.2rem;
    height: 46.8rem;
    position: absolute;
    z-index: -1;
    top: 0rem;
    right: 0;

    @include responsive(m) {
      width: 26.6rem;
      height: 40rem;
      top: 0rem;
      right: 0rem;
      background-position: bottom left;
    }

    @include responsive(s) {
      width: 26.6rem;
      height: 40rem;
      top: 0rem;
      right: 0rem;
      background-position: bottom left;
    }

    @include responsive(xs) {
      display: none;
    }
  }
}

a {
  display: inline-block;
  text-decoration: none;
}

span {
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}
