.main {
  padding-top: 6.5rem;

  @include responsive(m) {
    padding-top: 3.3rem;
  }

  @include responsive(s) {
    padding-top: 3.3rem;
  }

  @include responsive(xs) {
    padding-top: 2.4rem;
  }

  .content {
    max-width: 85rem;

    @include responsive(m) {
      max-width: 65rem;
    }

    @include responsive(s) {
      max-width: 51rem;
    }

    h1 {
      @include type(h1, desktop);
      color: $dark;
      margin-bottom: 4rem;

      @include responsive(m) {
        @include type(h1, tablet);
        margin-bottom: 2.8rem;
      }

      @include responsive(s) {
        @include type(h1, tablet);
        margin-bottom: 2.8rem;
      }

      @include responsive(xs) {
        @include type(h1, mobile);
        margin-bottom: 2rem;
      }
    }

    p {
      @include type(b1, desktop);
      color: $dark;

      @include responsive(m) {
        @include type(b1, tablet);
      }

      @include responsive(s) {
        @include type(b1, tablet);
      }

      @include responsive(xs) {
        @include type(b1, mobile);
      }
    }
  }
}
