.main {
  padding-top: 6.5rem;
  position: relative;

  @include responsive(m) {
    padding-top: 3.3rem;
  }

  @include responsive(s) {
    padding-top: 3.3rem;
  }

  @include responsive(xs) {
    padding-top: 2.4rem;
  }

  &::before {
    content: "";
    display: block;
    background-image: url("../../assets/bg-main-desktop.svg");
    width: 191.3rem;
    height: 205.8rem;
    position: absolute;
    z-index: -1;
    top: -45rem;
    left: -45rem;

    @include responsive(m) {
      background-image: url("../../assets/bg-main-tablet.svg");
      width: 125.5rem;
      height: 108rem;
      top: -40rem;
      left: -40rem;
    }

    @include responsive(s) {
      background-image: url("../../assets/bg-main-tablet.svg");
      width: 125.5rem;
      height: 108rem;
      top: -40rem;
      left: -40rem;
    }

    @include responsive(xs) {
      background-image: url("../../assets/bg-main-mobile.svg");
      width: 55.4rem;
      height: 75.2rem;
      top: -35rem;
      left: 10rem;
    }
  }

  &::after {
    content: "";
    display: block;
    background-image: url("../../assets/bg-pattern-1.svg");
    width: 31.2rem;
    height: 46.8rem;
    position: absolute;
    z-index: -1;
    top: -20rem;
    right: -18.5rem;

    @include responsive(m) {
      width: 26.6rem;
      height: 40rem;
      top: -20rem;
      right: -6rem;
      background-position: bottom left;
    }

    @include responsive(s) {
      width: 26.6rem;
      height: 40rem;
      top: -20rem;
      right: -6rem;
      background-position: bottom left;
    }

    @include responsive(xs) {
      display: none;
    }
  }

  .content {
    max-width: 85rem;

    @include responsive(m) {
      max-width: 65rem;
    }

    @include responsive(s) {
      max-width: 51rem;
    }

    h1 {
      @include type(h1, desktop);
      color: $dark;
      margin-bottom: 4rem;

      @include responsive(m) {
        @include type(h1, tablet);
        margin-bottom: 2.8rem;
      }

      @include responsive(s) {
        @include type(h1, tablet);
        margin-bottom: 2.8rem;
      }

      @include responsive(xs) {
        @include type(h1, mobile);
        margin-bottom: 2rem;
      }
    }

    p {
      @include type(b1, desktop);
      color: $dark;

      @include responsive(m) {
        @include type(b1, tablet);
      }

      @include responsive(s) {
        @include type(b1, tablet);
      }

      @include responsive(xs) {
        @include type(b1, mobile);
      }
    }
  }
}
